aws_region = "us-east-1"
instance_type = "t2.micro"
ubuntu_ami = "ami-0c7217cdde317cfec"  # Ubuntu 22.04 LTS in us-east-1
ssh_public_key_path = "~/.ssh/id_rsa.pub"
your_ip_address = "YOUR_IP_ADDRESS/32"  # Example: "203.0.113.0/32"
disable_auth = "false"  # Set to "true" to disable authentication